/* APP */ 

#app {
  background-color: #750ff7; 
}

#Nav {
  background-color: #750ff7;
}

.nav-link {
  color: #eff8e2 !important;
}

html {
  background-color: #750ff7;
}

#brand {
  width: 75px;
}

button {
  border: 5px solid #FFA69E; 
  background-color: transparent;
  color: #EFF8E2;
}

@media only screen and (min-width: 768px) {
 .mr-auto {
    flex: 1;
    justify-content: space-around;
  }
  #nav-link{
    margin: 5px; 
  }
}

/* Intro page */

#intro {
  text-align: center;
  align-items: center;
  min-width: 200px; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 100px 20px 0px 20px;
  background-color: #750ff7;
}

#intro button {
  margin-top: 20px; 
}

#intro h2 {
  color: #EFF8E2;
}

#name {
  color: #FFA69E; 
}

